<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource"
    style="margin: 0px; width: 100%"
    matSort
    (matSortChange)="sortData($event)"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="sessionDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="sessionDate">
        Date
      </th>
      <td mat-cell *matCellDef="let element">{{ element.sessionDate }}</td>
    </ng-container>

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef>Time Started</th>
    <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
  </ng-container> -->

    <!-- Weight Column -->
    <ng-container matColumnDef="totalHours">
      <th mat-header-cell *matHeaderCellDef>Total Hours</th>
      <td mat-cell *matCellDef="let element">{{ element.totalHours }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="totalMinutes">
      <th mat-header-cell *matHeaderCellDef>Minutes</th>
      <td mat-cell *matCellDef="let element">{{ element.totalMinutes }}</td>
    </ng-container>

    <ng-container matColumnDef="instruments">
      <th mat-header-cell *matHeaderCellDef>Instruments</th>
      <td mat-cell *matCellDef="let element">
        <div class="row flex-nowrap">
          <div
            class="col col-md-auto small-pad"
            *ngFor="let e of element.instruments"
          >
            <mat-chip-list>
              <mat-chip style="background-color: rgb(218, 238, 218)">{{
                e.instrumentName
              }}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef>Skills</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div class="row flex-nowrap">
          <div
            class="col col-md-auto small-pad"
            *ngFor="let e of element.skills"
          >
            <mat-chip-list>
              <mat-chip style="background-color: rgb(216, 226, 241)">{{
                e
              }}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Notes</th>
      <td mat-cell *matCellDef="let element">{{ element.notes }}</td>
    </ng-container>

    <!--delete-->

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <i
          class="bi bi-x-circle-fill"
          style="font-size: 25px; color: red"
          type="button"
          (click)="delete(element)"
        ></i>
      </td>
    </ng-container>

    <!--edit-->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element">
        <i
          class="bi bi-pencil-fill"
          style="font-size: 25px; color: rgb(0, 177, 0)"
          type="button"
          (click)="edit(element)"
        ></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator 
  #paginator
   [pageSizeOptions]="[5, 10, 20]"> </mat-paginator>
</div>
