/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "~bootstrap-icons/font/bootstrap-icons.css";




html, body { height: 100%; }
body { background: white; margin: 0 }

nav {
    background-color: $primary;
}

a {
    color: $secondary
}

.pri {
    background-color: $primary;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
